<h3>About the GCPD</h3>
	<div class="col s12">
		<div class="card">
	      	<div class="card-content">
				<h5>Our Belief</h5>
				<p id="quote">"Son, we are the Gotham City Police Department. What do we do when we come face-to-face will hell on Earth? We get to work."<br><br>--James Gordon</p>
			</div>
		</div>
	</div>
		<div class="col s6">
			<div class="card">
	      		<div class="card-content">
					<h5 class="subtitle">History</h5>
					<%= image_tag 'about/history.jpg' %>
					<p>The Gotham City Police Department (GCPD) is the one of the oldest municipal police departments in the United States, with hundreds of officers and civilian employees. The GCPD was established in 1925, and today, is responsible for policing an 2-million-person city, by performing a wide variety of public safety, law enforcement, traffic management, counterterror, and emergency response roles. In the past 25 years, the department has achieved spectacular declines in both violent and property crime, ensuring that Gotham City has the lowest overall rate of major crimes in the 25 largest cities in the country.</p>
				</div>
			</div>
		</div>
		<div class="col s6">
			<div class="card">
	      		<div class="card-content">
					<h5 class="subtitle">About Batman</h5>
					<%= image_tag 'about/batman.jpg' %>
					<p>The GCPD would normally deal with typical cases of murder, robbery rackets and would usually solve them under the guidance of James Gordon, sometimes with unrequired help from the vigilante Batman. On various occasions, the GCPD found Batman at the crime scene and started chasing him as the principal suspect. However, Batman would always solve the case and bring the real criminals to justice. The GCPD was soon baffled by the appearance of new super-criminals like the Joker, Catwoman and Hugo Strange among many others and most of the times, Batman would stop their plans and capture the villains, much to the GCPD's frustration.Over time, the GCPD's relationship with Batman became blurred. On some occasions Batman was treated as an ally and others, a wanted criminal. However, this changed after Batman and Bruce Wayne stood trial and when their names were cleared, Commissioner Gordon named Batman an honorary member of the GCPD. Ever since, Gotham's vigilante worked alongside the police department.</p>
				</div>
			</div>
		</div>
	</div>
