
<h3>Contact Us</h3>
	<div class="col s12">
		<div class="card">
	      	<div class="card-content" id="contactCard">
				<div class="col s6">
						<br><br><br><br>
						Email: <div class="info">GCPDcare@gmail.com</div><br>
						Phone: <div class="info">+1 (412) 403-5205</div><br>
						Address: <div class="info">5000 Sip Avenue,Gotham City, New Jersey, USA</div>
				</div>
				<div class="col s6"><%= image_tag 'contact/contact.jpg'%></div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="card">
	      	<div class="card-content" id="contactCard">
				<div class="col s6"><%= image_tag 'contact/four.jpg'%></div>
				<br><br><br>
				<p>Feel free to contact us if you have any problems. Protecting citizens of Gotham City is our duty. Every police officer in our department has made the oath.<br><br><br> <i>“I, do solemnly, sincerely and truly declare and affirm that I will faithfully discharge the duties of the office of constable with fairness, integrity, diligence and impartiality,and that I will uphold fundamental human rights and accord equal respect to all people, according to law.”</i></p>
			</div>
		</div>
	</div>
