<h3>Privacy Policy</h3>

<div class="col s12">
	<div class="card">
	    <div class="card-content">
	    	<div class="row">
	    		<div class="col offset-s5"><%= image_tag 'privacy/logo.png'%></div>
	    	</div>
			<p id="privacy">In order to improve the content and usability of this website, the Gathom City (the "City") automatically collects several categories of information from users. This information includes the following: <br><br>

			1. The apparent Internet Protocol ("IP") address of your Internet Service Provider ("ISP") and/or your computer, if your computer has an IP address assigned directly to it. <br><br>

			2. The apparent Fully Qualified Domain Name ("Domain Name") of your Internet Service Provider ("ISP") and/or your computer, if your computer has a domain name assigned directly to it. <br><br>

			3. The type of browser (such as, for example Internet Explorer, Opera, Firefox, Chrome, etc.) used and the operating system resident on a user's computer.<br><br>

			4. The date and time a user visited the site.<br><br>

			5. The web pages accessed at the site, as well as any applications used and forms data.<br><br>

			6. The Uniform Resource Locator ("URL") of the site which a user visited prior to the website (if detectable), if such user did not connect directly to website, or use it as a homepage or "Portal".<br><br>

			The City uses this information to identify site performance needs; to ensure compatibility with the technology used by website's visitors, and to generally add and improve services offered on website. In order to accomplish those goals, from time to time, the City may conduct statistical analysis of the data it collects.<br><br>

			7. The City does not collect data for commercial or marketing purposes, 3 and the City does not sell, exchange, or otherwise distribute the data collected by website for commercial or marketing purposes.<br><br>

			Intellectual Property<br><br>
			The content of website's webpages is copyrighted, and contains some third party images/graphics that are used with permission. Users are notified, therefore, that one should presume the need to obtain permission from the copyright holder before reproducing or otherwise using images/graphics from this website.
			This website may change this policy from time to time, and reserves the right to do so without notice.

			</p>
		</div>
	</div>
</div>
